{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["react-app", "eslint:recommended"],
  "rules": {
    "prefer-const": "error",
    "no-var": "error",
    "no-multi-assign": "error",
    "no-plusplus": "off",
    "operator-linebreak": ["error", "after"],
    "no-new-object": "error",
    "object-shorthand": "error",
    "quote-props": ["error", "as-needed"],
    "no-prototype-builtins": "error",
    "no-array-constructor": "error",
    "array-callback-return": "error",
    "prefer-destructuring": "error",
    "quotes": ["error", "single"],
    "prefer-template": "error",
    "template-curly-spacing": "error",
    "no-eval": "error",
    "func-style": "off",
    "wrap-iife": "error",
    "no-loop-func": "error",
    "prefer-rest-params": "error",
    "no-new-func": "error",
    "space-before-function-paren": "error",
    "space-before-blocks": "error",
    "no-param-reassign": "error",
    "prefer-spread": "error",
    "function-paren-newline": ["error", "multiline"],
    "prefer-arrow-callback": "error",
    "arrow-spacing": "error",
    "arrow-parens": ["error", "as-needed"],
    "no-confusing-arrow": ["error", { "allowParens": true }],
    "implicit-arrow-linebreak": ["error", "beside"],
    "no-useless-constructor": "error",
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "no-iterator": "error",
    "generator-star-spacing": ["error", { "before": false, "after": true }],
    "dot-notation": "error",
    "eqeqeq": "error",
    "no-nested-ternary": "error",
    "no-unneeded-ternary": "error",
    "no-mixed-operators": [
      "error",
      {
        "groups": [
          ["+", "-", "*", "/", "%", "**"],
          ["&", "|", "^", "~", "<<", ">>", ">>>"],
          ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
          ["&&", "||"],
          ["in", "instanceof"]
        ],
        "allowSamePrecedence": true
      }
    ],
    "nonblock-statement-body-position": ["error", "beside"],
    "brace-style": "error",
    "no-else-return": "error",
    "spaced-comment": ["error", "always"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "keyword-spacing": "error",
    "space-infix-ops": "error",
    "eol-last": "error",
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "padded-blocks": ["error", "never"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 1 }],
    "space-in-parens": "error",
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "block-spacing": "error",
    "comma-spacing": "error",
    "computed-property-spacing": "error",
    "func-call-spacing": "error",
    "key-spacing": "error",
    "no-trailing-spaces": "error",
    "comma-style": ["error", "last"],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "always"],
    "no-new-wrappers": "error",
    "radix": "error",
    "id-length": "off",
    "camelcase": "warn",
    "new-cap": "error",
    "no-underscore-dangle": "error",
    "no-restricted-globals": [
      "error",
      "event",
      "fdescribe",
      "isNaN",
      "isFinite"
    ],
    "no-compare-neg-zero": "error",
    "no-console": "off"
  }
}
